<html>

<body>
    

<br><br>
<hr>
<p class="text-center">&copy; Tour and Travel site</p>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<!-- ck editer 5 -->
<script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/classic/ckeditor.js"></script>
<!--  -->
<script src="/js/main.js"></script>
</html>
